@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradiant for website background */
html {
  background: -webkit-linear-gradient(
      top,
      rgba(32, 30, 168, 1) 0%,
      rgba(255, 95, 31, 1) 100%
    )
    no-repeat;
  background: -moz-linear-gradient(
      top,
      rgba(32, 30, 168, 1) 0%,
      rgba(255, 95, 31, 1) 100%
    )
    no-repeat;
  background: -o-linear-gradient(
      top,
      rgba(32, 30, 168, 1) 0%,
      rgba(255, 95, 31, 1) 100%
    )
    no-repeat;
  background: linear-gradient(
      to bottom,
      rgba(32, 30, 168, 1) 0%,
      rgba(255, 95, 31, 1) 100%
    )
    no-repeat;
}

/* Roles for Clerk button */
.clerk-sign-button button {
  padding: 1rem 2rem;
}
header .clerk-sign-button button {
  padding: 0.5rem 1rem;
}
header .cl-userButton-root button {
  padding: 0;
}
